  .slideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .orangeSquare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%; 
    height: 80%; 
    background-color: #FBB040; 
    border-radius: 5px;
    border: 1px solid #00163B; 
    padding: 20px; 
    box-sizing: border-box; 
    margin-top: 30px;
  }
  
  .dropdownContainer {
    margin-bottom: 20px; 
  }
  
  .dropdown {
    width: 350px; 
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    margin-bottom: 5px;
  }
  
  .label {
    display: block;
    font-weight: bold;
  }
  
  .required {
    color: red; 
    margin-left: 3px; 
  }
  
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #00163B;
    color: #fff;
    cursor: pointer;
  }
  
  